.about{
  &__wrapper{
    max-width: 1456px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 2px solid #DDD;
    @media(max-width:1500px){
      margin: 30px 15px;
      padding: 0;
      padding-bottom: 40px;

    }
  }
  &__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__logo{
    width: 45px;
    height: 50px;
    @media(max-width:900px){
      position: absolute;
      bottom: 20px;
      right: 15px;
    }
  }
  &__block{
    display: flex;
    gap: 8px;
    margin-top: 10px;
    align-items:center;
    justify-content: flex-start;
    @media(max-width:900px){
      display: none;
    }
  }
  &__img{
    width: 12px;
    height: 12px;
  }
  &__name{
    color: rgba(255, 255, 255, 0.55);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  &__rigth{
    max-width: 750px;
    padding-left: 30px;
    // padding-bottom: 59px;
    @media(max-width:700px){
      padding: 0;
    }
  }
  &__title{
    @include title;
    @media(max-width:1200px){
      @include titleMidle;
    }
    @media(max-width:700px){
      @include titleMob;
      max-width: 350px;
    }
  }
  &__text{
    margin-top: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    @media(max-width:700px){
      margin-top: 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__btn{
    margin-top: 60px;
    @include btn;
    width: 231px;
    height: 55px;
    @media(max-width:1200px){
      @include btnMobile;
      margin-top: 40px;
      width: 201px;
      height: 50px;
    }
  }
}