.design{
  &__wrapper{
    width: 100%;
    background: url('../img/Rectangle\ 299.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 815px;
    overflow: hidden;
    margin-top: -7px;
    @media(max-width:1200px){
      height: 480px;
      margin-top: 0px;
    }
    .main__pointer{
      margin-top: 7px;
      gap: 8.5px;
      @media(max-width:1200px){
        margin-top: 0px;
      }
    } 
  }
  &__content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 953px;
    align-items: center;
    gap: 30px;
    margin-top: 224px;
    @media(max-width:1200px){
      margin-top:81px;
      height: 100px;
      gap: 15px;
      padding: 0 15px;
    }
  }
  &__title{
    @include titleH1;
    @media(max-width:1200px){
      @include titleH1Midle;
    }
    @media(max-width:700px){
      @include titleH1Mob;
    }
  }
  &__subtitle{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 554px;
    br{
      display: none;
    }
    @media(max-width:1200px){
      font-size: 16px;
      line-height: 20px;
      max-width: 330px;
      text-align: center;
      br{
        display: block;
      }
    }
  }
  &__btn{
    padding: 15px;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid #D8B27A;
    width: 269px;
    height: 55px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.32px;
    color: #FFF;
    @media(max-width:1200px){
      width: 233px;
      height: 50px;
      gap: 8px;
      font-size: 14px;
      letter-spacing: 0.28px;
      padding-top: 14px;
      font-style: normal;
      img{
        width: 11px;
        height: 9px;
      }
    }
  }
}