@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/inter/bold/Inter-Bold.woff") format("woff"),
	url("../fonts/inter/bold/Inter-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/inter/medium/Inter-Medium.woff") format("woff"),
	url("../fonts/inter/medium/Inter-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter/regular/Inter-Regular.woff") format("woff"),
	url("../fonts/inter/regular/Inter-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "AvrileSerif";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/avrile/mediumItalic/AvrileSerif-MediumItalic.woff") format("woff"),
	url("../fonts/avrile/mediumItalic/AvrileSerif-MediumItalic.woff2") format("woff2");
}
@font-face {
	font-family: "AvrileSerif";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/avrile/SemiBoldItalic/AvrileSerif-SemiBoldItalic.woff") format("woff"),
	url("../fonts/avrile/SemiBoldItalic/AvrileSerif-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/gilroy/semiBold/Gilroy-Semibold.woff") format("woff"),
	url("../fonts/gilroy/semiBold/Gilroy-Semibold.woff2") format("woff2");
}