.footer{
  background: #181818;
  width: 100%;
  &__wrapper{
    max-width: 1456px;
    margin: 0 auto;
    padding: 80px 0 20px 0;
    @media(max-width:1500px){
      padding: 15px;
      padding-top: 40px;
    }

  }
  &__list{
    display: flex;
    justify-content: space-between;
    @media(max-width:900px){
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      max-width: max-content;
      margin: 0 auto;
    }
    @media(max-width:400px){
      margin: 0;
    }
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media(max-width:900px){
      gap: 20px;
      order: 2;
    }
  }
  &__tel{
    font-family: AvrileSerif;
    font-size: 42px;
    font-style: italic;
    font-weight: 600;
    line-height: 45px;
    @media(max-width:900px){
      font-size: 32px;
      line-height: 35px;
     }
  }
  &__contact{
    display: flex;
    gap: 15px;
    flex-direction: column;
    @media(max-width:900px){
      gap: 10px;
     }
  }
  &__link{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  &__sign{
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    @media(max-width:900px){
      display: none;
    }
  }
  &__items{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.32px;
    @media(max-width:1500px){
      padding-left: 0;
    }
    @media(max-width:900px){
     line-height: 20px;
    }
    &-services{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 20px;
      @media(max-width:900px){
        gap: 5px;
        padding-bottom: 10px;
       }
    }
  }
  &__service{
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    line-height: 25px;
  }
  &__social{
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media(max-width:900px){
      order: 3;
      gap: 10px;
    }
  }
  &__block{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:1500px){
      justify-content: space-between;
    }
    @media(max-width:900px){
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
      margin-top:60px;
      width: fit-content;
      align-items: flex-start;
    }
    @media(max-width:900px){
      margin: 0;
      margin-top:60px;
      align-items: flex-start;
    }
  }
}
.social{
  &__title{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    @media(max-width:900px){
      margin-bottom: -4px;
     }
  }
  &__item{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 156.25% */
    letter-spacing: 0.32px;
    @media(max-width:900px){
      line-height: 20px;
      letter-spacing: 0;
      font-weight: 500;
     }
  }
}
.block{
  &__img{
    width: 151px;
    height: 35px;
    @media(max-width:900px){
      width: 108px;
      height: 25px;
    }
  }
  &__link{
    padding-left: 295px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    text-decoration-line: underline;
    @media(max-width:1500px){
      padding-left: 0;
    }
    @media(max-width:900px){
      font-size: 12px;
      line-height: 20px; /* 166.667% */
    }
  }
  &__pandaWorks{
    color: rgba(255, 255, 255, 0.55);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    img{
      margin-top: 4px;
    }
    @media(max-width:900px){
      font-size: 12px;
      line-height: 20px;
      img{
        width: 95px;
        height: 11px;
      }
    }

  }
  &__sign{
    display: none;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    @media(max-width:900px){
      display: block;
      padding-bottom: 15px;
      font-size: 12px;
      line-height: 20px;
      margin-top: 0;
    }
  }
}
