.header{
  margin: 0 auto;
  &__wrapper{
    margin: 0 auto;
    max-width: 1460px;
    padding: 25px 0;
    display: flex;
    @media(max-width:1600px){
      width: 100vw;
      padding: 25px;
      justify-content: space-between;
    }
    @media(max-width:1050px){
      max-width: 100%;
      margin: 0;
      justify-content:space-between;
      padding: 15px;
      align-items: center;
    }
  }
  &__call{
    display: flex;
    flex-direction: row;
    margin-left: 198px;
    gap: 40px;
    width:max-content;
    @media(max-width:1600px){
      margin-left: 0;
    }
    @media(max-width:1050px){
      display: flex;
      flex-direction: column;
      margin-top: 52px;
      gap: 15px;
    }
  }
  &__logo{
    width: 108px;
    height: 25px;
    margin-left: 246px;
    @media(max-width:1600px){
      margin-left: 0;
    }
    @media(max-width:1050px){
      display: none;
    }
    &_mobile{
      display: none;
      @media(max-width:1050px){
        display: block;
      }
    }
  }
  &__request{
    display: flex;
    gap: 11px;
    margin-top: 6px;
    align-items: baseline;
    @media(max-width:1050px){
      width: 350px;
      border-radius: 50px;
      background: #D8B27A;
      height: 50px;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
      gap: 5px;
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media(max-width:1050px){
      align-items: center;
    }
  }
  &__contacts{
    display: none;
    @media(max-width:1050px){
      margin-top: 3px;
      border-top: 1px solid #252525;
      padding: 8px 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
    }
  }
  &__social{
    display: none;
    @media(max-width:1050px){
      display: flex;
      gap: 20px;
      margin-top: -3px;
    }
  }
}
.nav{
  &__list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width:max-content;
    @media(max-width:1200px){
      gap: 20px;
    }
    @media(max-width:1050px){
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media(max-width:1050px){
      padding: 25px 15px 15px 15px;
      display: none;
      position: absolute;
      flex-direction: column;
      width: 100vw;
      background: #1C1C1C;
      left: 0;
      top: 55px;
    }
    &.open{
      display: flex;
      z-index: 5;
      }   
    }
    &__img{
      @media(max-width:1050px){
        transform: rotate(180deg);
      }
    }
  &__submenu{
    display: none;
    position: absolute;
    width: 273px;
    padding: 25px 30px;
    background: #333;
    top: 45px;
    left: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 5;
    @media(max-width:1050px){
      visibility: visible;
      opacity: 1;
      position: static;
      gap: 15px;
      padding:0;
      padding-top: 6px;
      font-size: 14px;
      line-height: 20px;
      background: #1C1C1C;
      a{
        color: rgba(255, 255, 255, 0.50) !important;
      }
    }
  }
  &__items{
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 8px;
    position: relative;
    &::before{
      content: '';
      display: block;
      position: absolute;
      height: 1.5px;
      bottom: 5px;
      width: 0;
      background-color: #FFF;
      transition: all .3s ease;
    }
    &:hover{
      cursor: pointer;
      &::before{
        width: 100%;
      }
      &>.nav__submenu{
        visibility: visible;
        opacity: 1;
      }
      .nav__img{
        transform: rotate(180deg);
      }
    }
    @media(max-width:1050px){
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__link{
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: normal;
    gap: 7px;
    @media(max-width:1050px){
      color: #FFF;
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
    }
  }
  &__img{
    width: 8px;
    height: 5px;
    margin-top: 10px;
    transition: all 0.3s ease;
    @media(max-width:1050px){
      path{
        stroke: #fff;
      }
    }
  }
}
.call{
  &__number{
    display: flex;
    line-height: 25px;
    gap: 4px;
    width:max-content;
  }
  &__tel{
    width:max-content;
  }
  &__text{
    color: rgba(255, 255, 255, 0.50);
    line-height: 25px;
    transition: all 0.3s ease;
    &:hover{
      color: #FFF;
    }
  }
}
.request{
  &__text{
    transition: all 0.3s ease;
      &:hover{
        color: #D8B27A;
      }
    @media(max-width:1050px){
      color: #FFF;
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0.28px;
      
    }
  }
}
.submenu{
  &__link{
    transition: all 0.3s ease;
    &:hover{
      color: #D8B27A;
    }
  }
}

.burger{
  &__menu{
    display: none;
    span{
      margin-top: -2px;
      width: 18px;
      height: 2px;
      background-color: #D8B27A;
      position: relative;
      &::after,
      &::before{
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 0;
      }
      &::after{
        top: -7px;
      }
      &::before{
        top: 7px;
      }
    }
    @media(max-width:1050px){
      display: flex;
      order: 2;
      flex-direction: column;
      justify-content: center;
      &.open{
        span{
          &::after,
          &::before{
            opacity: 0;
          }
          transition: all 0.3s ease;
          &:first-child{
            transform: rotate(45deg);
          }
          &:last-child{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
