.major{
  &__wrapper{
    padding: 108px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media(max-width:1200px){
      padding: 50px 0;
    }
  }
  &__title{
    max-width: 953px;
    @include titleH1;
    @media(max-width:1200px){
      @include titleH1Midle;
    }
    @media(max-width:700px){
      @include titleH1Mob;
    }
  }
  &__link{
    margin-top: 50px;
    width: 257px;
    height: 56px;
    @include btn;
    @media(max-width:1200px){
      @include btnMobile;
      margin-top:35px;
      width: 222px;
      height: 50px;
    }
  }
  &__img{
    margin: 0 auto;
    margin-top: 114px;
    width: 100vw;
    overflow: hidden;
    background-image: url('../img/Rectangle 128.png');
    background-position: center;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width:1200px){
      margin-top:50px;
      height: 400px;
    }
  }
}