.overlay{
  position: fixed;
  top: 0;
  display: none;
  z-index: 5;
  background: rgba(0, 0, 0, 0.55);
}
.modal{
  margin-top: 255px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  z-index: 1 !important;
  
  &__wrapper{
    width: 891px;
    height: 425px;
    margin: 0 auto;
    background: #181818;
    padding: 60px 70px;
    position: relative;
    text-align: left;
    z-index: 5;
    @media(max-width:1200px){
      padding: 25px;
      width:auto;
      height: auto;
    }
  }
  &__close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 15px;
    height: 15px;
    padding: 2px;
    cursor: pointer;
    @media(max-width:800px){
      top: 8px;
      right: 9px;
      width: 12px;
      height: 12px;
    }
    span{
      display: block;
      width: 2px;
      top: 0%;
      right: 50%;
      height: 20px;
      background-color: #D8B27A;
      @media(max-width:800px){
        width: 1px;
        height: 19px;
      }
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        margin-top: -20px;
        transform: rotate(-45deg);
      }
    }

  }
  &__title{
    color: #FFF;
    font-family: AvrileSerif;
    font-size: 52px;
    font-style: italic;
    font-weight: 500;
    line-height: 50px;
    @media(max-width:1000px){
      font-size: 42px;
    }
    @media(max-width:800px){
      margin-top: -7px;
      font-size: 32px;
    }
  }
  &__subtitle{
    margin-top: 20px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    @media(max-width:1000px){
      font-size: 14px;
      margin-top: 7px;
    }
  }
  &__form{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.50);
    @media(max-width:1000px){
      margin-top: 23px;
      flex-direction: column;
      align-items: center;
      gap: 26px;
    }
    input{
      width: 365px;
      height: 55px;
      border-radius: 61px;
      background: #333;
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      padding-left: 25px;

      @media(max-width:1100px){
        width: 300px;
        height: 50px;
        padding-left: 22px;

      }
    }

  }
  &__contacts{
    display: flex;
    gap: 20px;
    @media(max-width:700px){
      flex-direction: column;
      gap: 22px;

    }
  }
  &__items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media(max-width:700px){
      gap: 7px;
    }
  }
  &__submit{
    display: flex;
    gap: 20px;
    align-items:center;
    @media(max-width:700px){
      flex-direction: column;

    }
  }
  &__btn{
    width: 365px;
    height: 55px;
    border-radius: 50px;
    background: #D8B27A;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px; /* 156.25% */
    letter-spacing: 0.32px;
    display: flex;
    justify-content: center;
    gap: 8px;
    font-style: normal;
    align-items: center;
    @media(max-width:1100px){
      width: 300px;
      height: 50px;
      font-size: 14px;
      letter-spacing: 0.28px;
    }
  }
  &__agreement{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    max-width: 366px;
    @media(max-width:1100px){
      width: 300px;
      font-size: 12px;
    }
    a{
      color: rgba(255, 255, 255, 0.50);
      text-decoration-line: underline;
    }
  }

}
.input{
  &__title{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.28px;
  }
}
.fancybox-content{
  padding: 0 !important;
  position: fixed !important;
}
.fancybox-active{
  overflow:hidden;
}
::placeholder{
  @media(max-width:900px){
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;  
  }
}