.partners{
  &__wrapper{
    max-width: 1456px;
    margin:0 auto;
    margin-top: 160px;
    margin-bottom: 100px;
    @media(max-width:1500px){
      padding: 15px;
    }
    @media(max-width:1200px){
      margin-top: 95px;
    }
  }
  &__title{
    @include title;
    @media(max-width:1200px){
      @include titleMidle;
    }
    @media(max-width:700px){
      @include titleMob;
    }
  }
  &__slider{
    display: flex;
    margin-top: 50px;
    width: 100%;
    background: #262626;
    height: 250px;
    gap: 0px;
    align-items: center;
    overflow: hidden;
    @media(max-width:500px){
      height: 160px;
    }
  }
  &__img{
    width: 250px !important;
    height: 130px !important;
    @media(max-width:500px){
      width: 192px !important;
      height: 100px !important;
    }
  }
}