.portfolio{
  &__wrapper{
    max-width: 1456px;
    margin: 0 auto;
    margin-top: 160px;
    padding-bottom: 100px;
    @media(max-width:1500px){
      padding: 48px 15px;
      margin-top: 0px;
    }
  }
  &__title{
    @include title;
    @media(max-width:1200px){
      @include titleMidle;
    }
    @media(max-width:700px){
      @include titleMob;
    }
  }
  &__content{
    max-height:2470px;
    overflow: hidden;
    @media(max-width:1500px){
      max-height: 2490px;
    }
    @media(max-width:800px){
      max-height: 1665px;
    }
    &_page{
      max-height: 4910px;
      @media(max-width:1500px){
        max-height: 5955px;
      }
      @media(max-width:800px){
        max-height: 3315px;
      }
    }

    &.hide{
      max-height:max-content !important;
    }
  }
  &__list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media(max-width:1500px){
      gap: 15px;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  }
  &__items{
    position: relative;
  }
  &__img{
    width: auto;
    height: 100%;
    @media(max-width:1500px){
      max-width: 720px;
      height: 480px;
    }
    @media(max-width:800px){
      width: 350px;
      height: 260px !important;
    }
  }
  &__array{
    position: absolute;
    top: 20px;
    right: 20px;
    @media(max-width:800px){
      top: 15px;
      right: 15px;
      width: 10px;
      height: 10px;
    }
  }
  &__name{
    position: absolute;
    bottom: 25px;
    left: 30px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    @media(max-width:800px){
      font-size: 18px;
      bottom: 15px;
      left: 20px;
    }
  }
  &__btn{
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 50px;
    border: 1px solid #D8B27A;
    width: 258px;
    height: 55px;
    background: #1C1C1C;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.32px;
    color: #FFF;
    @media(max-width:800px){
      margin-top: 35px;
      height: 50px;
      gap: 8px;
      font-size: 14px;
      letter-spacing: 0.28px;
      width: 225px;
    }
  }
}
