.fancybox-bg{
  opacity: 0.55 !important;
  background: rgba(0, 0, 0) !important;
}
.fancybox-button svg{
  display: none;
}
.request{
  position: fixed;
  width: 100%;
  margin-top: 70px;
  display: none;
  z-index: 5;
  background-color: #FFF !important;
  left: 50%;
  transform: translateX(-50%);
  &__modal{
    width: 100%;
    background: #1C1C1C;
  }
  &__wrapper{
    margin: 0 auto;
    max-width: 1456px;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    @media(max-width:1500px){
      padding:80px 15px;
    }
    @media(max-width:700px){
      flex-direction: column;
      align-items: center;
      padding: 6px 15px;
      gap: 21px;
    }
  }
  &__close{
    position: absolute;
    top: 32px;
    right: 30px;
    width: 25px;
    height: 25px;
    padding: 2px;
    cursor: pointer;
    @media(max-width:800px){
      right: 7px;
      width: 20px;
      height: 20px;
    }
    span{
      display: block;
      width: 2px;
      top: 0%;
      right: 50%;
      height: 35px;
      background-color: #D8B27A;
      
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        margin-top: -35px;
        transform: rotate(-45deg);
      }
      @media(max-width:800px){
        width: 2px;
        height: 25px;
        &:first-child{
          transform: rotate(45deg);
        }
        &:last-child{
          margin-top: -25px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 674px;
    @media(max-width:800px){
      gap: 15px;
    }
  }
  &__title{
    color: #FFF;
    font-family: AvrileSerif;
    font-size: 68px;
    font-style: italic;
    font-weight: 500;
    line-height: 70px;
    text-align: left;
    span{
      color: #D8B27A;
    }
    @media(max-width:1500px){
      font-size: 52px;
    }
    @media(max-width:800px){
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0;
    }
  }
  &__subtitle{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 513px;
    text-align: left;
    @media(max-width:800px){
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media(max-width:1300px){
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      max-width: 740px;
      gap: 22px;
    }
  }
  &__contacts,
  &__info{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    @media(max-width:1300px){
      flex-direction: column;
    }
    @media(max-width:800px){
      gap: 22px;
    }
  }
  &__select{
    width: 350px;
    font-size: 16px;
    position: relative;
  }
  &__items{
    display: flex;
    gap: 10px;
    flex-direction: column;
    @media(max-width:800px){
      gap: 8px;
    }
    input {
      width: 350px;
      height: 55px;
      padding:0 25px;
      border-radius: 61px;
      background: #333;
      color: #fff;
      display: flex;
      align-items: center;
      @media(max-width:800px){
        height: 50px;
        padding: 0 22px;
      }
    }
    ::placeholder{
      color: rgba(255, 255, 255, 0.50);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      @media(max-width:800px){
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &__current{
    position: relative;
    width: 350px;
    height: 55px;
    padding:0 25px;
    border-radius: 61px;
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
    &.no-border{
      border-bottom-left-radius:0;
      border-bottom-right-radius:0;
      border-top-left-radius:30px;
      border-top-right-radius:30px;
      &::after{
        transform: rotate(135deg);
      }
    }
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 19px;
      right: 25px;
      width: 10px;
      height: 10px;
      border-left: 1px solid #D8B27A;
      border-bottom: 1px solid #D8B27A;
      transform: rotate(-45deg);
      transition: all ease 0.3s;
    }
  @media(max-width:800px){
    padding: 0 20px;
    height: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    &::after{
      top: 19px;
      right: 25px;
      width: 6px;
      height: 8px;
    }
  }
  }
  &__options{
    display: none;
    position: absolute;
    left: 0;
    top: 99%;
    padding: 0;
    width: 100%;
    z-index: 10;
    &.active{
      display: block;
    }
  }
  &__option{
    padding: 15px 25px;
    background: #333;
    cursor: pointer;
    &:last-child{
      border-bottom-left-radius:30px;
      border-bottom-right-radius:30px;
    }
  }
 &__location{
  display: flex;
  flex-direction: column;
  // padding-left: 30px;
  gap: 10px;
  @media(max-width:1300px){
    max-width: 100%;
  }
  @media(max-width:1100px){
    width: 350px;
    gap: 8px;
  }
  input{
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    width: 720px;
    height: 55px;
    border-radius: 61px;
    background: #333;
    padding: 25px;
    @media(max-width:1300px){
      max-width: 100%;
    }
    @media(max-width:1100px){
      padding: 20px;
      width: 350px;
      height: 50px;
      font-size: 14px;
      line-height: 20px;
    }
  }
 } 
 &__submit{
  display: flex;
  flex-direction: column;
  gap: 35px;
  @media(max-width:800px){
    gap: 20px;
  }
 }
 &__btns{
  display: flex;
  gap: 93px;
  align-items: center;
  @media(max-width:1100px){
    flex-direction: column;
    justify-content: center;
    gap:29px;
    align-items: baseline;
  }
  
 }
 &__btn{
  display: flex;
  width: 350px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #D8B27A;
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 156.25% */
  letter-spacing: 0.32px;
  @media(max-width:1100px){
    order: 2;
    height: 50px;
    font-size: 14px;
    letter-spacing: 0.28px;
  }
 }

 &__file{
  position: relative;
  input{
    position: absolute;
    opacity: 0;
  }
  @media(max-width:1100px){
    order: 1;
  }
 }
 &__label{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  img{
    width: 15px;
    height: 20px;
  }
  @media(max-width:800px){
    font-size: 14px;
    line-height: 20px;
    gap: 8px;
    margin-top: 9px;
  }
 }
 &__agreement{
  color: rgba(255, 255, 255, 0.50);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  a{
    text-decoration-line: underline;
  }
  @media(max-width:1100px){
    width: 350px;
    font-size: 12px;
    line-height: 20px;
  }
  @media(max-width:500px){
    max-width: 340px;
  }
 }
}
