.service{
  &__wrapper{
    max-width: 1455px;
    margin: 0 auto;
    padding: 50px 0;
    @media(max-width:1600px){
      padding: 15px;
    }
  }
  &__title{
    margin-top: 3px;
    @include title;
    @media(max-width:1200px){
      margin-top: 15px;
      @include titleMidle;
    }
    @media(max-width:700px){
      @include titleMob;
    }
  }
  &__content{
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    @media(max-width:700px){
      margin-top: 28px;
    }
  }
  &__items{
    border-top: #FFF solid 2px;
    padding: 25px 0 48px 0;
    display: flex;
    align-items: flex-start;
    @media(max-width:1600px){
      justify-content: space-between;
      gap: 20px;
    }
    @media(max-width:850px){
      flex-direction: column;
      align-items: center;
      max-width: 350px;
      margin: 0 auto;
      padding: 15px 0 30px 0px;
    }
  }
  &__star{
    @media(max-width:850px){
      display: none;
    }
  }
  &__img{
    width: 474px;
    height: 290px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
    @media(max-width:1100px){
      width: 350px;
      height: 200px;
    }
  }
  &__info{
    padding-left: 263px;
    padding-right: 198px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    height: 290px;
    @media(max-width:1600px){
      padding: 0;
    }
    @media(max-width:1100px){
      height: auto;
      gap: 23px;
    }
  }
  &__texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media(max-width:1100px){
      gap: 10px;
      max-width: 350px;
    }
  }
  &__subtitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    font-style: normal;
    @media(max-width:1200px){
      font-size: 20px;
    }
  }
  &__text{
    color: rgba(255, 255, 255, 0.55);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 494px;
    word-break: keep-all;
    hyphens: none;
    word-wrap: break-word;
    @media(max-width:1200px){
      font-size: 14px;
    }
  }
  &__btns{
    display: flex;
    gap: 30px;
    @media(max-width:850px){
      gap: 25px;
    }
  }
  &__btn{
    border-radius: 50px;
    border: 1px solid #D8B27A;
    width: 231px;
    height: 55px;
    background: #1C1C1C;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    span{
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0.32px;
      color: #FFF;
    }
    @media(max-width:1200px){
      width: 199px;
      height: 50px;
      gap: 8px;
      span{
        font-size: 14px;
        letter-spacing: 0.28px;
      }
    }
  }
  &__price{
    display: flex;
    gap: 5px;
    align-items: center;
    @media(max-width:1200px){
      gap: 4px;
      img{
        width: 13px;
        height: 25px;
      }
    }
  }
}
.price{
  &__num{
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    @media(max-width:1200px){
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__unit{
    color: rgba(255, 255, 255, 0.55);
  }
}