*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
  scroll-behavior:smooth;
}
html {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  color: #FFFFFF;
  background: #1C1C1C;
  margin: 0 auto;
  position: relative;
  font-size: 15px;
  color: #FFF;
}
.wrapper{
  margin: 0 auto;  
}
.section{
  text-align: center;
  overflow: hidden;
}
.main{
  background: url('../img/fon.svg');
  background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    @media(max-width:1600px){
      background-size: cover;
      background-position: left 15px top;
    }
    // background-size: cover;
  // background-size: auto;
}
.section__img{
  margin: 0 auto;
  margin-top: 141px;
  width: 100%;
  overflow: hidden;
  background-image: url('../img/Rectangle 135.png');
  background-position: center;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-width:1200px){
    margin-top:80px;
    height: 400px;
  }
}
.btn{
  &-black{
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
      background: #D8B27A;
    }  
  }
  cursor: pointer;
  transition: all .3s ease;
    &:hover{
      background: #BE9962;;
  }
}