.works{
  &__wrapper{
    max-width: 1456px;
    margin: 0 auto;
    margin-top: 60px;    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @media(max-width:1500px){
      gap: 15px;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
    img{
      width: auto;
      height: 100%;
      @media(max-width:1500px){
        max-width: 720px;
        height: 480px;
      }
      @media(max-width:800px){
        width: 350px;
        height: 260px !important;
      }
    }
  }
}
.slider__wrapper{
  margin-bottom: 100px;
  @media(max-width:1200px){
    margin-bottom: 60px;
  }
}