@import './style/normalize.css';
@import './style/mixine';
@import './style/jquery.fancybox.css';
@import './style/fonts';
@import './style/style';
@import './style/header';
@import './style/main';
@import './style/abouts';
// @import './style/abouts';
@import './style/description';
// @import './style/partners';
// @import './style/design';
// @import './style/design-info';
// @import './style/slider';
// @import './style/slaider';
@import './style/footer';
@import './style/overlay';
@import './style/request';